<template>
    <form @submit.prevent="form.post('/deleteEquipo')">
      
      
      <input type="text" v-model="form.equi">
      <div v-if="form.errors.equi">{{ form.errors.equi }}</div>
      
      
      <!-- submit -->
      <button type="submit" :disabled="form.processing">Borrar</button>
    </form>
  </template>
  
  <script>
  import { useForm } from '@inertiajs/inertia-vue3'
  
  export default {
    setup () {
      const form = useForm({
        equi : null
      })
  
      return { form }
    },
  }
  </script>