<template>
    <SideBar :rol="user.roleName"/>
    <div class="home-section"></div>
    <br>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item mx-3">
                            <h4><strong> Nuevo Laboratorio </strong> </h4>
                        </li>
                    </ul>  <!--botones dentro del nav guardar y cancelar-->
                    <form class="d-flex" @submit.prevent="form.post('/storeLab')">
                        <a href="indexLab" class="btn  btn-outline-danger " style=" width:150px; height:40px"><i
                                class="bi bi-x-lg"></i><strong> Cancelar</strong> </a>
                                <a href="/indexLab">          
                                    <button class="btn mx-4 btn btn-outline-success" type="submit"
                                    style=" width:150px; height:40px"><i class="bi bi-save"></i><strong>
                                        Guardar</strong>
                                    </button>
                                </a>
                    </form>
                </div>
            </div>
        </nav>
        
        <div class="mx-5 mt-2" style="color:#62031B">
            <h6><strong>Detalles de nuevo laboratorio</strong> </h6>
        </div>
    
            <img src="https://www.unsa.edu.pe/wp-content/uploads/2022/04/DSC_0077-scaled.jpg" style=" width: 81rem; height:30rem;" class="" alt="...">
            <div class="form-group form-inline input-group-lg">                            
                <label for="exampleFormControlTextarea1" class="form-label">Nombre de laboratorio</label>
                <input type="text"  v-model="form.nomdes" class="form-control">
            </div>
            <!--input para el nombre del proyecto -->
        <div class="mb-3 mt-3" style="width:80rem ">
            <label for="exampleFormControlTextarea1" class="form-label">Nombre del proyecto concursable</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="form.nomcon"></textarea>
        </div>
        <!--Combo de corrdinadores selección de coordinador u operador -->
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col" style="width:30rem" >
                <label class="form-label">Coordinador Id</label>
                    <!--select class="form-select" style="width:30rem; left: 35rem; ">
                            <option selected>Seleccione Coordinador</option>
                            <option value="1"> Coordinador</option>
                            <option value="2"> Operador</option>

                        </select-->
                        <input type="text"  v-model="form.cooid" class="form-control">
        
            </div>
            <!--div class="col mx-5 mt-5" style="left:30rem;">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="bi bi-search"></i>
                    </span>
                </div>  
            </div-->
        </div>
          <!-- combo de selección de coordinador ingresar coordinadores ya existentes-->
       

        <div class="row">
            <div class="col-6">
                <label class="form-label">Área</label>
                        <select v-model="form.area" class="form-select" v-on:change="changeFacOptions(form.area)">
                            <option value="ingenieria"> Ingenieria</option>
                            <option value="biomedicas"> Biomedicas</option>
                            <option value="sociales"> Sociales</option>
                            

                        </select>
            </div>
              <!--Combo de seleccion de facultades -->
            <div class="col-6">
                <label class="form-label">Facultad</label>
                <select class="form-select" v-model="form.fac">
                    <option selected>Seleccione Facultad</option>
                    <option v-for="item in optionsSelected" :value="item.value"> {{ item.label }}</option>  
                </select>
            </div>
        </div>
   <!--Campo para ingresar pabellon-->
        <div class="row">
        <div class="col-6">
            <label class="form-label">Pabellón</label>
            <input class="form-control" type="text"  v-model="form.facpab" aria-label="default input example">

        </div>
        
   <!--Campo para ingresar piso -->
        <div class="col-6">
            <label class="form-label">Piso</label>
            <input class="form-control" type="text" v-model="form.facpis" aria-label="default input example">

        <div class="mt-5">

        </div>
        </div>
         </div>
        </div>

</template>
        
<script>
import { computed } from 'vue'
import {useForm, usePage} from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue'

export default{
    name: 'ViewLab',
    components: {
        SideBar,
        useForm,
        usePage
    },
    props: {
        id: Object,
    },
    data(props){
        const id=props.id;
        return {
            option: id,
            area: '',
            optionsSelected: [],
            ingenieraFacultadOptions: [
                {value: "Facultad de Ingeniería de Procesos", label: "Facultad de Ingeniería de Procesos"},
                {value: "Facultad de Ingeniería de Producción y Servicios", label: "Facultad de Ingeniería de Producción y Servicios"},
                {value: "Facultad de Geología, Geofísica y Minas", label: "Facultad de Geología, Geofísica y Minas"},
                {value: "Facultad de Ingeniería Civil", label: "Facultad de Ingeniería Civil"},
                {value: "Facultad de Ciencias Naturales y Formales", label: "Facultad de Ciencias Naturales y Formales"},
                {value: "Facultad de Arquitectura", label: "Facultad de Arquitectura"}
            ],
            socialesFacultadOptions: [
                {value: "Facultad de Ciencias Contables y Financieras", label: "Facultad de Ciencias Contables y Financieras"},
                {value: "Facultad de Economía", label: "Facultad de Economía"},
                {value: "Facultad de Derecho", label: "Facultad de Derecho"},
                {value: "Facultad de Ciencias Histórico Sociales", label: "Facultad de Ciencias Histórico Sociales"},
                {value: "Facultad de Psicología RRII Cs. de la Comunicación", label: "Facultad de Psicología RRII Cs. de la Comunicación"},
                {value: "Facultad de Filosofía y Humanidades", label: "Facultad de Filosofía y Humanidades"},
                {value: "Facultad de Administración", label: "Facultad de Administración"},
                {value: "Facultad de Educación", label: "Facultad de Educación"},
            ],
            biomedicasFacultadOptions: [
                {value: "Facultad de Ciencias Biológicas", label: "Facultad de Ciencias Biológicas"},
                {value: "Facultad de Medicina", label: "Facultad de Medicina"},
                {value: "Facultad de Enfermería", label: "Facultad de Enfermería"},
                {value: "Facultad de Agronomía", label: "Facultad de Agronomía"}
            ],
        }
    },
    setup () {
        const user = computed(() => usePage().props.value.auth.user)
    
        const form = useForm({
            nomdes: null,
            nomcon: null,
            cooid: null,
            // numcont: null,
            area:null,
            fac: null,
            facpab: null,
            facpis: null,
            // tel: null,
            // eml: null,
            // des: null,
            // obj: null
        })
        return { form ,user}
    },
    methods: {
    changeFacOptions (area) {
      if (area === "ingenieria"){
        this.optionsSelected = this.ingenieraFacultadOptions;
      }
      if (area === "sociales"){
        this.optionsSelected = this.socialesFacultadOptions;
      }
      if (area === "biomedicas"){
        this.optionsSelected = this.biomedicasFacultadOptions;
      }
    }
  },
}
</script>
