<template>
    <SideBar :rol="user.roleName"/>
    
  <div class="home-section">
    <br/>
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col">
            <h5 class="ms-3 mt-1"><strong>Nuevo equipamiento</strong></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <form class="form-group form-inline" @submit.prevent="form.post('/storeEquipo')">
        <div class="row">
          <div class="col-6">
            <input type="file" class="form-control" id="inputGroupFile01" accept="image/*" @input="form.img = $event.target.files[0]" />
              <progress v-if="form.progress" :value="form.progress.percentage" max="100">
                {{ form.progress.percentage }}%
              </progress>
          </div>
          <div class="col-6">
            <div class="form-group form-inline input-group-lg">                            
              <input type="text"  v-model="form.equi" class="form-control" id="exampleInputEmail1" placeholder="Nombre del equipo" maxlength="50">
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Operador
              </label>
              <input class="form-control"  v-model="form.ope" id="marca" name="marca" type="text"/>
            </div>
            <div class="form-group ">
              <label class="control-label " for="modelo">
              Mantenimiento
              </label>
              <input  v-model="form.mantenimiento" class="form-control" id="modelo" name="modelo" type="text"/>
            </div>
            <div class="form-group ">
              <label class="control-label " for="serie">
              Imagen
              </label>
              <input v-model="form.img" class="form-control" id="serie" name="serie" type="text"/>
            </div>
            <div class="form-group ">
              <label class="control-label " for="serie">
              CodLab
              </label>
              <select v-model="form.labcod" class="form-control">
              <option v-for="option in options" :value="option.id">
                {{ option.nomdes }}
              </option>  
              </select>
            </div>
            <div class="form-group ">
              <label class="control-label " for="descripcion">
              Descripción
              </label>
              <textarea class="form-control" cols="40" id="descripcion" name="descripcion" rows="4"></textarea>
            </div>
            <div class="form-group py-2">
                <a href="/mostrarEquipo" class="btn btn-danger me-3" id="topBar">
                  <i class="bi bi-x"></i>
                  Cancelar
                </a>
              <a href="/crearEquipo">          
                <button type="submit" class="btn btn-success" id="topBar" :disabled="form.processing">
                  <i class="bi bi-plus"></i>
                  Guardar
                </button>
              </a>
            </div>
            
          </div>
        </div>
      <div v-if="form.errors.equi">{{ form.errors.equi }}</div>
      <div v-if="form.errors.ope">{{ form.errors.ope }}</div>
      <div v-if="form.errors.mantenimiento">{{ form.errors.mantenimiento }}</div>
      <div v-if="form.errors.img">{{ form.errors.img }}</div>
      <div v-if="form.errors.labcod">{{ form.errors.labcod }}</div>
    </form>
    </div>
  </div>

  </template>
  
  <script>
  import { useForm,usePage } from '@inertiajs/inertia-vue3'
  import SideBar from './SideBar.vue'
  import { computed } from 'vue'
  export default {
    name: 'ViewEquipo',

    components: {
      SideBar,
      usePage
    },
    props: {
      id: Object,
    },
    data(props) {
      const id=props.id;
      return {
        options: id
        
    }
    },
    setup () {
      const form = useForm({
        equi : null,
        ope: null,
        mantenimiento: null,
        img: null,
        labcod: null
      })
      const user = computed(() => usePage().props.value.auth.user)
      
  
      return { form, user }
    },
  }
  </script>
  <style>
  .home-section{
    position: relative;
    background: #ffffff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 270px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 88px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  </style>