<template>
       
    <form @submit.prevent="form.post('/saveProfile')">
      
      <input type="text" v-model="form.name">
      <div v-if="form.errors.name">{{ form.errors.name }}</div>
      <input type="text" v-model="form.surname">
      <div v-if="form.errors.surname">{{ form.errors.surname }}</div>
      <input type="text" disabled v-model="form.email">
      <div v-if="form.errors.email">{{ form.errors.email }}</div>
      <input type="text" v-model="form.dni">
      <div v-if="form.errors.dni">{{ form.errors.dni }}</div>
      <input type="text" v-model="form.tel">
      <div v-if="form.errors.tel">{{ form.errors.tel }}</div>
      
      <!-- submit -->
      <button type="submit" :disabled="form.processing">Crear</button>
      <a href="/profile" >cancelar</a>
    </form>
    
</template>

<script>
import { useForm } from '@inertiajs/inertia-vue3'
export default{

    props: {
        user: Object,
    },
    setup (props) {
      const user=props.user;
      const form = useForm({
        id : user.id,
        name : user.userName,
        surname : user.surname,
        email: user.email,
        dni: user.dni,
        tel: user.tel
      })
  
      return { form }
    },
        

}
</script>

<style scoped>
</style>