<template>
      <SideBar :rol="user.roleName"/>

    <!--form @submit.prevent="form.post('/saveLab')">
        <label>Nomdes</label>
        <input type="text" v-model="form.nomdes">
        <div v-if="form.errors.nomdes">{{ form.errors.nomdes }}</div>
        <label>Nomcon</label>
        <input type="text" v-model="form.nomcon">
        <div v-if="form.errors.nomcon">{{ form.errors.nomcon }}</div>
        <label>Coordinador</label>
        <input type="text" v-model="form.cooid">
        <div v-if="form.errors.cooid">{{ form.errors.cooid }}</div>
        <label>Número de Contrato</label>
        <input type="text" v-model="form.numcont">
        <div v-if="form.errors.numcont">{{ form.errors.numcont }}</div>
        <label>Facultad</label>
        <input type="text" v-model="form.fac">
        <div v-if="form.errors.fac">{{ form.errors.fac }}</div>
        <label>Pabellón</label>
        <input type="text" v-model="form.facpab">
        <div v-if="form.errors.facpab">{{ form.errors.facpab }}</div>
        <label>Piso</label>
        <input type="text" v-model="form.facpis">
        <div v-if="form.errors.facpis">{{ form.errors.facpis }}</div>
        <label>Telefono</label>
        <input type="text" v-model="form.tel">
        <div v-if="form.errors.tel">{{ form.errors.tel }}</div>
        <label>Email</label>
        <input type="text" v-model="form.eml">
        <div v-if="form.errors.eml">{{ form.errors.eml }}</div>
        <label>Descripción</label>
        <input type="text" v-model="form.des">
        <div v-if="form.errors.des">{{ form.errors.des }}</div>
        <label>Objetivo</label>
        <input type="text" v-model="form.obj">
        <div v-if="form.errors.obj">{{ form.errors.obj }}</div>

        <button type="submit" :disabled="form.processing">Guardar</button>
        <a href="indexLab">Cancelar</a>
    </form-->

    <div class="home-section">
    <br/>
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col">
            <h5 class="ms-3 mt-1"><strong>Editar Laboratorio</strong></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <form class="form-group form-inline" @submit.prevent="form.post('/saveLab')">
        <div class="row">
            <div class="form-group form-inline input-group-lg">                            
                <input type="text"  v-model="form.nomdes" class="form-control">
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Nombre del fondo concursable
              </label>
              <input class="form-control"  v-model="form.nomcon" type="text"/>
            </div>
            <div class="col-6">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Coordinador
                </label>
                <input  v-model="form.cooid" class="form-control"  type="text"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Nro de Contrato
                </label>
                <input  v-model="form.numcont" class="form-control" type="text"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Telefono
                </label>
                <input  v-model="form.tel" class="form-control" type="text"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Correo Electronico
                </label>
                <input  v-model="form.eml" class="form-control" id="modelo" name="modelo" type="text"/>
                </div>
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Descripcion
              </label>
              <textarea class="form-control"  v-model="form.des" rows="3" type="text"></textarea>
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Objetivo
              </label>
              <textarea class="form-control"  v-model="form.obj" rows="3"  type="text"></textarea>
            </div>
            <div class="col-4">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Facultad
                </label>
                <input  v-model="form.fac" class="form-control"  type="text"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Pabellon
                </label>
                <input  v-model="form.facpab" class="form-control" type="text"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group ">
                <label class="control-label " for="modelo">
                Piso
                </label>
                <input  v-model="form.facpis" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group py-2">
                <a href="/indexLab" class="btn btn-danger me-3" id="topBar">
                  <i class="bi bi-x"></i>
                  Cancelar
                </a>
              <a href="/indexLab">          
                <button type="submit" class="btn btn-success" id="topBar" :disabled="form.processing">
                  <i class="bi bi-plus"></i>
                  Guardar
                </button>
              </a>
            </div>
        </div>
        </form>
        </div>
    </div>

</template>

<script>
import { computed } from 'vue'
    import { useForm,Link,usePage  } from '@inertiajs/inertia-vue3'
    import SideBar from './SideBar.vue'
    export default{
        components: {
          Link,
          usePage,
          SideBar
        },
        props: {
            lab: Object,
        },
        setup (props) {
            const lab=props.lab;
            const form = useForm({
                id : lab.id,
                nomdes : lab.nomdes,
                nomcon : lab.nomcon,
                cooid : lab.cooid,
                numcont : lab.numcont,
                fac : lab.fac,
                facpab : lab.facpab,
                facpis : lab.facpis,
                tel : lab.tel,
                eml : lab.eml,
                des : lab.des,
                obj : lab.obj,
            })
            const user = computed(() => usePage().props.value.auth.user)
            return { form, user }
        }
    }
</script>
<style>
.home-section{
        position: relative;
        background: #ffffff;
        height: 100vh;
        left: 260px;
        width: calc(100% - 270px);
        transition: all 0.5s ease;
      }
      .sidebar.close ~ .home-section{
        left: 78px;
        width: calc(100% - 88px);
      }
      .home-section .home-content{
        height: 60px;
        display: flex;
        align-items: center;
      }
      .home-section .home-content .text{
        font-size: 26px;
        font-weight: 600;
      }
     img{
      width: 100%;
      position: relative;
    }
    p{
      position: absolute;
      font-size: 1em;
      top: 100px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
</style>