<template>
  <SideBar :rol="user.roleName"/>
  <div class="home-section"></div>
      <br>
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#"> </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                          <li class="nav-item mx-3">
                              <h4> <strong> Editar Usuarios </strong> </h4>
                          </li>
                      </ul>
                      <form @submit.prevent="form.post('/saveUser')" class="d-flex">                    
                        <a href="/indexUser" class="btn  btn-outline-danger " type="submit" style=" width:150px; height:40px"><i
                        class="bi bi-x-lg"></i> Cancelar</a>
                        <a href="/indexUser">
                            <button class="btn mx-4 btn btn-outline-success" type="submit" :disabled="form.processing"
                              style=" width:150px; height:40px"><i class="bi bi-person-check"></i> Guardar</button>
                        </a>
                          
                      </form>
                  </div>
              </div>
          </nav>
          <div class="mx-5 mt-3" style="color:#62031B">
              <h6><strong> Detalles de usuario </strong> </h6>
          </div>

          <div class="card_sccd card  align-items-center d-flex ">

              <div class="card-body shadow mt-3 readonly "
                  style="width: 40em ;  height: 58vh; font-weight:500; justify-content: center;">

                  <form>
                      <div class="form-group row mt-5 mx-4">
                          <label for="apellidos" class="col-sm-2 col-form-label"> Apellidos</label>
                          <div class="col-sm-10">
                              <input class="form-control" name="apellidos" id="apellidos" type="text"
                                  v-model="form.surname" placeholder="Ingrese apellidos" />
                              <div v-if="form.errors.surname">{{ form.errors.surname }}</div>
                          </div>
                      </div>
                      <div class="form-group row  mt-2 mx-4">
                          <label for="nombres" class="col-sm-2 col-form-label"> Nombres</label>
                          <div class="col-sm-10">
                              <input class="form-control" name="nombress" id="nombres" type="text"
                                  v-model="form.name" placeholder="Ingrese nombres" />
                              <div v-if="form.errors.name">{{ form.errors.name }}</div>
                          </div>
                      </div>
                      <div class="form-group row mt-2 mx-4">
                          <label for="dni" class="col-sm-2 col-form-label"> DNI</label>
                          <div class="col-sm-10">
                              <input class="form-control" name="dni" id="dni" type="text" 
                                  v-model="form.dni" placeholder="Ingrese DNI" />
                              <div v-if="form.errors.dni">{{ form.errors.dni }}</div>
                          </div>
                      </div>
                      <div class="form-group row mt-2  mx-4">
                          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                              <input type="text" readonly class="form-control" id="staticEmail"
                                  disabled v-model="form.email" placeholder="email@unsa.edu.pe">
                              <div v-if="form.errors.email">{{ form.errors.email }}</div>    
                          </div>
                      </div>
                      <div class="form-group row mt-2  mx-4">
                          <label for="celular" class="col-sm-2 col-form-label">Celular</label>
                          <div class="col-sm-10">
                              <input class="form-control" name="celular" id="celular" type="text"
                                  v-model="form.tel" placeholder="999 999 999">
                              <div v-if="form.errors.tel">{{ form.errors.tel }}</div>
                          </div>
                      </div>
                      
                      <div class="form-group row mt-2  mx-4">
                          <label for="form-label" class="col-sm-2 col-form-label"> ROL</label>
                          <!-- <select class="form-select col-sm-10 mx-2" style="width:447px">
                              <option value="0">{{ user.roleName }}</option>
                              <option value="1"> Administrator</option>
                              <option value="2"> Coordinador</option>
                              <option value="3"> Operador</option>
                          </select> -->
                          <div class="col-sm-10">
                              <input type="text" readonly class="form-control" id="staticRol"
                                  disabled v-model="user.roleName" placeholder="email@unsa.edu.pe">             
                          </div>
                      </div>
                      
                      <!-- <div class="form-group row mt-2  mx-4">
                          <label for="celular" class="col-sm-2 col-form-label">Estado </label>
                          <div class="switchToggle  col-sm-10" style=" width:300px; height:40px">
                              <input type="checkbox" id="switch4">
                              <label for="switch4">Toggle</label>
                          </div>
                      </div> -->
                  </form>


              </div>
          </div>
      </div>


</template>


<script>
import { computed } from 'vue'
import SideBar from './SideBar.vue';
import { useForm, usePage } from '@inertiajs/inertia-vue3'
export default {
  name: 'UsuarioEditar',
  components:{
      SideBar,
      useForm,
      usePage,
  },
  props: {
      userId: Object,
  },
  setup (props) {
      const userId=props.userId;
      const form = useForm({
      id : userId.id,
      name : userId.userName,
      surname : userId.surname,
      email: userId.email,
      dni: userId.dni,
      tel: userId.tel
      });
      const user = computed(() => usePage().props.value.auth.user)

      return { userId, form, user}
  },
}

</script>
  
<style>

.card_sccd {
  border-color: rgb(255, 255, 255);

}
.btn-block{
  width: 100%;
}

.icono_admin{
  cursor: pointer;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.input-w-icon{
  position: relative;
}

.input-w-icon i{
  position: absolute;
  left: 0;
  top: 8px;
  padding: 2.5px 11px;
  color: gray;
}
.texto_sunarp {
  font-family: 'Gotham-Bold'; 
  color: #008C95;
 
}
.table-striped>tbody>tr:nth-child(2n+1)>td
{
  background-color: #f5f5f5;
}
.table-group-divider{
  border-top: 1px solid #c8c9ca;
}
.table>tbody{
  font-size: small;
  color: black;
  vertical-align: middle; 
}
.onoffswitch {
  position: relative; width: 116px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
  display: none;
  }
  .onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 50px;
  }
  .onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
  font-size: 25px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #EEEEEE; color: #62031B;
  }
  .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
  }
  .onoffswitch-switch {
  width: 38px; margin: 1.5px;
  background: #A1A1A1;
  border: 2px solid #FFFFFF; border-radius: 50px;
  position: absolute; top: 0; bottom: 0; right: 71px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
  }
  .outerDivFull { margin:70px; } 

  .switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
  .switchToggle label {cursor: pointer; text-indent: -9999px; width: 100px; max-width: 90px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
  .switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
  .switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #610C1C; }
  .switchToggle input + label:before, .switchToggle input + input + label:before {content: 'OFF'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
  .switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'ON'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
  .switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
  .switchToggle label:active:after {width: 60px; } 
  .toggle-switchArea { margin: 10px 0 10px 0; }

 
</style>