<template>
    <SideBar :rol="user.roleName"/>
    <div class="home-section"></div>
    <br>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item mx-3">
                                <h4> <strong> Perfil </strong> </h4>
                            </li>
                        </ul>
                        <form class="d-flex" @submit.prevent="form.post('/saveProfile')">
                            <a href="/profile" class="btn  btn-outline-danger " type="submit" style=" width:150px; height:40px"><i
                                    class="bi bi-x-lg"></i> Cancelar</a>
                                <a href="/profile">
                                        <button class="btn mx-4 btn btn-outline-success" type="submit" :disabled="form.processing"
                                style=" width:150px; height:40px"><i class="bi bi-person-check"></i> Guardar</button>
                                    </a>
                            
                        </form>
                    </div>
                </div>
            </nav>
            <div class="row align items center d-flex">
                <div class="col card_sccd card " style="left:10em ">
                    <div class="mt-5 ">
                        <img alt="unsa " class="img-fluid" style="width:18em "
                            src="https://cdn-icons-png.flaticon.com/512/235/235846.png">
                    </div>

                    <div class="mt-5  ">
                        <btn href="#" class="btn btn-lg " style="width:15em; background-color: #62031B; color:white;">
                            Subir imagen </btn>
                    </div>
                </div>

                <div class="col card_sccd card " style="right: 8rem;">
                    <div class="card-body shadow mt-5 readonly " style="width: 40em ;  height: 65vh; font-weight:350;">

                        <form  @submit.prevent="form.post('/saveProfile')">
                            <div class="form-group row mt-5 mx-4">
                                <label for="apellidos" class="col-sm-2 col-form-label"> Apellidos</label>
                                <div class="col-sm-10">
                                    <input  v-model="form.surname" name="apellidos" class="form-control" id="apellidos" type="text"
                                        placeholder="Ingrese apellidos" />
					<div v-if="form.errors.surname">{{ form.errors.surname }}</div>
                                </div>
                            </div>
                            <div class="form-group row  mt-2 mx-4">
                                <label for="nombres" class="col-sm-2 col-form-label"> Nombres</label>
                                <div class="col-sm-10">
                                    <input  v-model="form.name" name="nombress" class="form-control" id="nombres" type="text"
                                        placeholder="Ingrese nombres" />
    					  <div v-if="form.errors.name">{{ form.errors.name }}</div>

                                </div>
                            </div>
                            <div class="form-group row mt-2 mx-4">
                                <label for="dni" class="col-sm-2 col-form-label"> DNI</label>
                                <div class="col-sm-10">
                                    <input v-model="form.dni" name="dni" class="form-control" id="dni" type="text"
                                        placeholder="Ingrese DNI" />
      					<div v-if="form.errors.dni">{{ form.errors.dni }}</div>

                                </div>
                            </div>
                            <div class="form-group row mt-2  mx-4">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input  disabled v-model="form.email" type="text" readonly class="form-control" id="staticEmail"
                                        placeholder="email@unsa.edu.pe">
      					<div v-if="form.errors.email">{{ form.errors.email }}</div>

                                </div>
                            </div>
                            <div class="form-group row mt-2  mx-4">
                                <label for="celular" class="col-sm-2 col-form-label">Celular</label>
                                <div class="col-sm-10">
                                    <input v-model="form.tel" name="celular" class="form-control" type="text"  id="celular"
                                        placeholder="999 999 999">
					 <div v-if="form.errors.tel">{{ form.errors.tel }}</div>
                                </div>
                            </div>
                            <div class="form-group row mt-2  mx-4">
                                <label for="form-label" class="col-sm-2 col-form-label"> ROL</label>
                                <!-- <select class="form-select col-sm-10 mx-2" style="width:447px">
                                    <option selected> Seleccione Rol</option>
                                    <option value="1"> Administrator</option>
                                    <option value="2"> Coordinador</option>
                                    <option value="3"> Operador</option>
                                </select> -->
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control" id="staticRol"
                                        disabled v-model="user.roleName" placeholder="Rol">             
                                </div>                      
                            </div>

                            <!-- <div class="form-group row mt-2  mx-4">
                                <label for="celular" class="col-sm-2 col-form-label">Estado </label>
                                <div class="switchToggle  col-sm-10" style=" width:300px; height:40px">
                                    <input type="checkbox" id="switch4">
                                    <label for="switch4">Toggle</label>
                                </div>                         
                            </div> -->
                            <div class="form-group row  mt-2 mx-4">
                                <label for="nombres" class="col-sm-2 col-form-label"> codigo_renacyt</label>
                                <div class="col-sm-10">
                                    <input  v-model="form.codigo_renacyt" name="nombress" class="form-control" id="codigo_renacyt" type="text"
                                        placeholder="codigo_renacyt" />
    					  <div v-if="form.errors.codigo_renacyt">{{ form.errors.codigo_renacyt }}</div>

                                </div>
                            </div>
                            <div class="form-group row mt-2  mx-4">
                                <label for="celular" class="col-sm-2 col-form-label">urlvitae</label>
                                <div class="col-sm-10">
                                    <input v-model="form.urlvitae" type="text" readonly class="form-control" id="urlvitae"
                                    disabled>
					            
                                </div>
                            </div>
                            

                            <div class="form-group row mt-2  mx-4">
                                <a :href=form.urlvitae>link</a>
                            </div>
                            
                            <div class="form-group row mt-2  mx-4">
                                <label for="celular" class="col-sm-2 col-form-label">Grupo</label>
                                <div class="col-sm-10">
                                    <input v-model="form.grupo" type="text" readonly class="form-control" id="grupo"
                                    disabled>
					            
                                </div>
                            </div>
                            <div class="form-group row mt-2  mx-4">
                                <label for="celular" class="col-sm-2 col-form-label">Nivel</label>
                                <div class="col-sm-10">
                                    <input v-model="form.nivel" type="text" readonly class="form-control" id="nivel"
                                    disabled>
					            
                                </div>
                            </div>

                        </form>



                    </div>

                </div>
            </div>
        </div>
 
</template>



<script>
import { computed } from 'vue'
import { Link, usePage, useForm } from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue';
export default {
  name: 'ProfileUsuario',
  components:{
    SideBar,
    Link,
    usePage,
    useForm
  },
props: {
        user: Object,
    },
    setup (props) {
      const user=props.user;
      const form = useForm({
        id : user.id,
        name : user.userName,
        surname : user.surname,
        email: user.email,
        dni: user.dni,
        tel: user.tel,
        codigo_renacyt: user.codigo_renacyt,
        urlvitae: user.urlvitae,
        grupo: user.grupo,
        nivel: user.nivel,
        
      })
  
      return { form ,user}
    },

}
</script>


<style>


.card_sccd {
    border-color: rgb(255, 255, 255);

}

.btn-block{
    width: 100%;
}

.icono_admin{
    cursor: pointer;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
.input-w-icon{
    position: relative;
}

.input-w-icon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 2.5px 11px;
    color: gray;
}
.texto_sunarp {
    font-family: 'Gotham-Bold'; 
    color: #008C95;
   
}
.table-striped>tbody>tr:nth-child(2n+1)>td
{
    background-color: #f5f5f5;
}
.table-group-divider{
    border-top: 1px solid #c8c9ca;
}
.table>tbody{
    font-size: small;
    color: black;
    vertical-align: middle; 
}

    .outerDivFull { margin:70px; } 

    .switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
    .switchToggle label {cursor: pointer; text-indent: -9999px; width: 100px; max-width: 90px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
    .switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
    .switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #610C1C; }
    .switchToggle input + label:before, .switchToggle input + input + label:before {content: 'OFF'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
    .switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'ON'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
    .switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
    .switchToggle label:active:after {width: 60px; } 
    .toggle-switchArea { margin: 10px 0 10px 0; }




</style>