<template>
  <!--form @submit.prevent="form.post('/saveEquipo')">
    
    
    <input type="text" v-model="form.equi">
    <div v-if="form.errors.equi">{{ form.errors.equi }}</div>
    <input type="text" v-model="form.ope">
    <div v-if="form.errors.ope">{{ form.errors.ope }}</div>
    <input type="text" v-model="form.mantenimiento">
    <div v-if="form.errors.mantenimiento">{{ form.errors.mantenimiento }}</div>
    <input type="file" class="form-control" id="inputGroupFile01" accept="image/*" @input="form.img = $event.target.files[0]" />
            <progress v-if="form.progress" :value="form.progress.percentage" max="100">
              {{ form.progress.percentage }}%
            </progress>
    <select v-model="form.labcod">
    <option v-for="option in options" :value="option.id">
      {{ option.nomdes }}
    </option>  
    </select>
    <button type="submit" :disabled="form.processing">Editar</button>
  </form-->
  <SideBar :rol="user.roleName"/>
  <div class="home-section">
    <br/>
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col">
            <h5 class="ms-3 mt-1"><strong>Editar equipamiento</strong></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <form class="form-group form-inline"  @submit.prevent="form.post('/saveEquipo')">
        <div class="row">
          <div class="col-6">
            <input type="file" class="form-control" id="inputGroupFile01" accept="image/*" @input="form.img = $event.target.files[0]" />
            <progress v-if="form.progress" :value="form.progress.percentage" max="100">
              {{ form.progress.percentage }}%
            </progress>
          </div>
          <div class="col-6">
            <div class="form-group form-inline input-group-lg">                            
              <input type="text" v-model="form.equi" class="form-control">
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Operador
              </label>
              <input type="text" v-model="form.ope" class="form-control">
            </div>
            <div class="form-group ">
              <label class="control-label " for="marca">
              Mantenimiento
              </label>
              <input type="text" v-model="form.mantenimiento" class="form-control">
            </div>
            <div class="form-group ">
              <label class="control-label " for="serie">
              Laboratorio
              </label>
              <select v-model="form.labcod" class="form-control">
                <option v-for="option in options" :value="option.id">
                  {{ option.nomdes }}
                </option>  
              </select>
            </div>
            <div class="form-group py-2">
                <a href="/mostrarEquipo" class="btn btn-danger me-3" id="topBar">
                  <i class="bi bi-x"></i>
                  Cancelar
                </a>
              <a href="/crearEquipo">          
                <button type="submit" class="btn btn-success" id="topBar" :disabled="form.processing">
                  <i class="bi bi-plus"></i>
                  Guardar cambios
                </button>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { useForm,usePage } from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue'
import { computed } from 'vue'

export default {
  components: {
      SideBar,
      usePage
    },
  props: {
    id: Object,
    equipo:Object,
  },
  data(props) {
    const id=props.id;
    return {
      options: id
      
  }
  },
  setup (props) {
    const equipo=props.equipo;
    const form = useForm({
      id:equipo.id,
      equi : equipo.equi,
      ope: equipo.ope,
      mantenimiento: equipo.mantenimiento,
      img: equipo.img,
      labcod: equipo.labcod
    })

    const user = computed(() => usePage().props.value.auth.user)

    return { form, user }
  },
}
</script>
<style>
  .home-section{
    position: relative;
    background: #ffffff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 270px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 88px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  </style>