<template>
    <SideBar :rol="user.roleName"/>
    <div class="home-section"></div>
        <br>
        <div class="container">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                            <li class="nav-item mx-3">
                                <h4> <strong> Usuarios </strong> </h4>
                            </li>
                        </ul>
                        <form class="d-flex">
    
                            <a  href="/newListUser" class="btn mx-4 btn btn-outline-success" type="submit"
                                style=" width:150px; height:40px">
                                <i class="bi bi-pencil-square"></i> <i class="fa-solid fa-user"></i>crear Usuario</a>
                        </form>
                    </div>
                </div>
            </nav>
    
            <div class="mx-5 mt-5" style="color:#62031B">
                <h6><strong>Lista de Usuarios</strong> </h6>
            </div>
    
            <div class="w-100 px-3 mt-4 rounded-bottom" style="background-color: #ffff; box-shadow: 0px 3px 5px grey;">
                <div class="col-lg-12 align-items-center">
    
                    <div class="table-group-divider">
                        <table class="table table-striped table-borderless table-sm w-80 ">
                            <thead>
                                <tr class="texto_sunarp" style="height: 45px  !important; vertical-align: middle;">
                                    <th scope="col" style="width:20%">Nro.Documento</th>
                                    <th scope="col">Nombre y Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col">Rol</th>
                                    <th scope="col">Accion</th>
    
                                </tr>
                            </thead>
                            <tbody style="color:rgb(158, 158, 158);">
                                <tr  v-for="user in userList">
                                    <!--td> href="/newListUser" </td-->
                                    <td> {{user.dni}} </td>
                                    <td> {{user.userName}} {{user.surname}} </td>
                                    <td> {{user.email}} </td>
                                    <td> {{user.tel}} </td>
                                    <td>{{user.roleName}}</td>
                                  
            
                                    <td>
                                        <div>
                                            <Link href="/editUser" method="get" :data="{ index: user.id}" type="button" class="btn btn-primary mx-2"
                                                      style=" background-color:#610C1C"><i class="bi bi-pencil-square"
                                                      style="color:white"></i></Link>                                    
                                        </div>
                                    </td>
                                </tr>
        </tbody>
        </table>
        </div>
        </div>
        </div>
    
    
    
        </div>
    
    </template>
    <script>
    import { computed } from 'vue'
    import { Link, usePage } from '@inertiajs/inertia-vue3'
    import SideBar from './SideBar.vue';
    export default{
        components: {
          SideBar,
          Link,
          usePage
        },
        props: {
            userList: Object,
        },
        setup() {
        const user = computed(() => usePage().props.value.auth.user)
        return { user }
      },
            
    
    }
    
    </script>
    
    <style>
    .card_sccd {
        border-color: rgb(255, 255, 255);
    
    }
    
    
    .btn-block {
        width: 100%;
    }
    
    .icono_admin {
        cursor: pointer;
    }
    
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .input-w-icon {
        position: relative;
    }
    
    .input-w-icon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 2.5px 11px;
        color: gray;
    }
    
    .texto_sunarp {
        font-family: 'Gotham-Bold';
        color: #008C95;
    
    }
    
    .shadow {
        box-shadow: 5px 10px #181717;
        border-radius: 15px;
    }
    
    .table-striped>tbody>tr:nth-child(2n+1)>td {
        background-color: #f5f5f5;
    }
    
    .table-group-divider {
        border-top: 1px solid #c8c9ca;
    }
    
    .table>tbody {
        font-size: small;
        color: black;
        vertical-align: middle;
    }
    
    
    
    .outerDivFull {
        margin: 70px;
    }
    
    .switchToggle input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }
    
    .switchToggle label {
        cursor: pointer;
        text-indent: -9999px;
        width: 100px;
        max-width: 90px;
        height: 30px;
        background: #d1d1d1;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    
    .switchToggle input:checked+label:after,
    .switchToggle input:checked+input+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
    
    .switchToggle label:active:after {
        width: 60px;
    }
    
    .toggle-switchArea {
        margin: 10px 0 10px 0;
    }
    
    
    body {
        background-color: #eee;
        font-weight: 100;
    }
    
    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
    }
    
    .search input {
    
        height: 40px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    
    
    }
    
    .search .fa-search {
    
        position: absolute;
        top: 20px;
        left: 16px;
    
    }
    
    .search input:focus {
    
        box-shadow: none;
        border: 2px solid #62031B;
    
    
    }
    </style>
    
