<template> 
  <SideBar :rol="user.roleName"/>
  <div class="home-section">
    <br/>
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col">
            <h5 class="ms-3 mt-1"><strong>Laboratorios</strong></h5>
          </div>
          <div class="col">
          </div>
          <div class="col-auto">
            <a href="crearLab" class="btn btn-dark" id="topBar">Nuevo laboratorio</a>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
      <br/>
      <div class="row" >
        <div class="col-3 ps-1" v-for="lab in labs">
          <div class="card shadow border-light">
            <!--img src="../assets/default_lab_image.png" class="card-img-top"/-->
            <div class="card-body">
              <h5 class="card-title">{{ lab.nomdes }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ lab.fac }}</h6>
              <p class="card-text">{{ lab.nomcon }}</p>
              <div class="btn-group me-2" role="group" aria-label="First group">
                <Link href="/viewLab" method="get" :data="{ index: lab.id}" type="button" class="btn btn-primary">
                  <i class="bi bi-eye"></i>
                </Link>
                <Link href="/editLab" method="get" :data="{ index: lab.id}" type="button" class="btn btn-primary">
                  <i class="bi bi-pencil-square"></i>
                </Link>
                <!--button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </template>
  
  <script>
  import { computed } from 'vue'
  import {useForm,Link,usePage} from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue'

export default{
    name: 'ViewLab',
    components: {
        Link,
        SideBar,
        usePage,
        useForm
    },
    props: {
        labs: Object,
    },
    data(props){
        const id=props.id;
        return {
            option: id
        }
    },
    setup () {
        const user = computed(() => usePage().props.value.auth.user)
    
        const form = useForm({
            nomdes: null,
            nomcon: null,
            cooid: null,
            // numcont: null,
            fac: null,
            facpab: null,
            facpis: null,
            // tel: null,
            // eml: null,
            // des: null,
            // obj: null
        })
        return { form ,user}
    }
}
  </script>
  
  <style>
  .home-section{
        position: relative;
        background: #ffffff;
        height: 100vh;
        left: 260px;
        width: calc(100% - 270px);
        transition: all 0.5s ease;
      }
      .sidebar.close ~ .home-section{
        left: 78px;
        width: calc(100% - 88px);
      }
      .home-section .home-content{
        height: 60px;
        display: flex;
        align-items: center;
      }
      .home-section .home-content .text{
        font-size: 26px;
        font-weight: 600;
      }
  </style>
