<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img src="storage/UNSA_logo_2.png" alt="Logo UNSA" width="170">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none; box-shadow: none;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">SILEII</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Laboratorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Institutos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="my-3 text-center" style="color:#651428;">
            <h4><strong>
                SISTEMA DE INFORMACIÓN PARA LABORATORIOS E INSTITUTOS DE INVESTIGACIÓN
            </strong></h4>
        </div>
    </div>
    
    <div class="container w-75 mt-5 rounded shadow ">
        <div class="row align-center-stretch rounded" style="background-color: #D9D9D9; background: linear-gradient(to left, #999999, #D9D9D9);">
            <div class="col mt-5 p-5 align-items-center rounded">
                <div class="text-center">
                    <img alt="unsa " class="img-fluid" style="width:25em "
                        src="storage/UNSA_logo_1.png">
                </div>
                <div class="mt-5 d-grid ">
                    <a href="/login-google" class="btn btn-primary "
                        style="background-color: #62031B; color:white;">
                    <img class="mx-2" src="storage/google_logo.png" alt="google logo" width="30">
                        Iniciar Sesión 
                    </a>
                </div>
                <div class="my-3 text-center">
                    <small><strong>Problemas con correos: soportecorreo@unsa.edu.pe</strong></small>
                </div>
            </div>

            <div class="col mx-3 my-3 align-center-stretch d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"> 
                <img src="storage/login_img.jpg"
                            class="img-fluid rounded" alt="...">
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: 'login'
}
</script>