<template>

<SideBar :rol="user.roleName"/>
<div class="home-section">
  <br/>
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5 class="ms-3 mt-1"><strong>Equipos</strong></h5>
        </div>
        <div class="col">
        </div>
        <div class="col-auto">
          <!-- <a href="/crearEquipo">           -->
            <a href="/crearEquipo" class="btn btn-dark" id="topBar">Nuevo equipo</a>
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-3 ps-3 pb-3" v-for="equipo in equipos">
        <div class="card shadow border-light" >
          <img :src=" 'storage/'.concat(equipo.img) " class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">{{ equipo.equi }}</h5>
            <p class="card-text">{{ equipo.ope }}</p>
            <div class="btn-group me-2" role="group" aria-label="First group">
              <Link href="/editEquipo" method="get" :data="{ index: equipo.id}" type="button" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
              </Link>
              <Link href="/deleteEquipo" method="post" :data="{ equi: equipo.id}" type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </Link>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

</template>

<script >
import { usePage,Link,useForm } from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue'
import { computed } from 'vue'

export default {
  name: 'ViewEquipo',
  components: {
    Link,
    SideBar,
    usePage
    
  },
  props: {
    equipos: Object,
  },
  setup () {
    const form = useForm({
        equi : null
      })

      const user = computed(() => usePage().props.value.auth.user)
       
      return { user, form }
    },
}
</script>
<style>
.home-section{
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 270px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 88px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
.alert{
  display:none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
</style>