<template>
  <SideBar :rol="user.roleName"/>
  <div class="home-section"></div>
  <br>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="#"> </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                      <li class="nav-item mx-3">
                          <h4><strong> Nuevo Usuario </strong> </h4>
                      </li>
                  </ul>
                  <form class="d-flex" @submit.prevent="form.post('/saveListUser')">
                      <a class="btn  btn-outline-danger " href="indexUser" style=" width:150px; height:40px"><i
                              class="bi bi-x-lg"></i><strong> Cancelar</strong> </a>
                      <button class="btn mx-4 btn btn-outline-success" type="submit" :disabled="form.processing"
                          style=" width:150px; height:40px"><i class="bi bi-person-check"></i> <strong>
                              Guardar</strong> </button>
                  </form>
              </div>
          </div>
      </nav>
      <div class="mx-5 mt-3" style="color:#62031B">
          <h6><strong>Detalles del nuevo usuario </strong> </h6>
      </div>

      <div class="card_sccd card  align-items-center d-flex ">

          <div class="card-body shadow mt-3 "
              style="width: 40em ;  height: 43vh; font-weight:500; justify-content: center;">

              <form class="w-200">
                  <div class="mb-5 mt-5 mx-5">
                      <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" placeholder="examples@unsa.edu.pe"
                          id="exampleInputEmail1" aria-describedby="emailHelp" v-model="form.email">
                      <div v-if="form.errors.email">{{form.errors.email}}</div>
                  </div>

                  <div class="mb-5 mt-3 mx-5 ">
                      <label class="form-label">ROL </label>
                      <select class="form-select" v-model="form.role_id">
                          <option v-for="option in roles" :value="option.id">
                              {{ option.name }}
                          </option>
                      </select>
                  </div>

                  <div class="mb-5 mt-3 mx-5 ">
                      <label class="form-label">ASIGNAR LABORATORIO </label>
                      <select class="form-select" v-model="form.lab_id">
                          <option v-for="option in labs" :value="option.id">
                              {{ option.nomdes }}
                          </option>
                          <option  :value="0">
                              No asignar laboratorio
                          </option>
                      </select>
                  </div>

              </form>


          </div>
      </div>

  </div>

</template>
<script>
import { computed } from 'vue'
import SideBar from './SideBar.vue';
import { useForm, usePage } from '@inertiajs/inertia-vue3'

export default {
  name: 'UsuarioCrear',
  components:{
      SideBar,
      useForm,
      usePage
  },
  props: {
      role: Object,
      lab: Object
  },
  data(props) {
      const role=props.role;
      const lab=props.lab;
      return {
      roles: role,
      labs: lab       
      }
  },
  setup () {
      const form = useForm({
      role_id : null,
      email: null,
      lab_id: null,        
      });
      const user = computed(() => usePage().props.value.auth.user)
      return { form, user }
  },
}
</script>

<style>
.card_sccd {
  border-color: rgb(255, 255, 255);

}


.btn-block{
  width: 100%;
}

.icono_admin{
  cursor: pointer;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.input-w-icon{
  position: relative;
}

.input-w-icon i{
  position: absolute;
  left: 0;
  top: 8px;
  padding: 2.5px 11px;
  color: gray;
}
.texto_sunarp {
  font-family: 'Gotham-Bold'; 
  color: #008C95;
 
}

.shadow{
  box-shadow: 5px 10px #181717;
  border-radius: 15px;
}
</style>