<template>
    <SideBar  :rol="user.roleName"/>
    <div class="home-section"></div>
        <br>
        <div class="container ">
   
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item mx-3">
                            <h4> <strong> Perfil </strong> </h4>
                        </li>
                    </ul>
                    <form class="d-flex">

                        <a class="btn mx-4 btn btn-outline-success" type="submit"
                            style=" width:150px; height:40px">
                            <i class="bi bi-pencil-square"></i> <i class="fa-solid fa-user"></i> Editar Perfil</a>
                    </form>
                </div>
            </div>
        </nav>

        <div class="text-center ">
            <div class=" mt-5">
                <img alt="unsa " class="img-fluid" style="width:15em "
                :src="profile.avatar">
            </div>

            <div class="mt-5  ">
                <strong>
                    <h5>{{ profile.name }}</h5>
                </strong><br>
                <strong>
                    <h5>{{ profile.surname }}</h5>
                </strong>
            </div>
            <div class="text-center">
                <div class="card card_ver" style="left:32rem">
                    <div class="card-body mt-4 ">
                        <h6> {{ profile.email }}</h6><br>
                        <h6> {{profile.roleName}}</h6><br>
                        <h6>DNI 75283026</h6><br>
                        <h6>CELULAR 951 658 748</h6>
                    </div>
                </div>
            </div>
                
            </div> 
        </div>

</template>

<script>
import { computed } from 'vue'
import { Link, usePage } from '@inertiajs/inertia-vue3'
import SideBar from './SideBar.vue';
export default {
  name: 'VerProfile',
  components:{
    SideBar,
    Link,
    usePage

  },
  props: {
        profile: Object,
        
    },
  setup() {
    const user = computed(() => usePage().props.value.auth.user)
    return { user }
  },


}
</script>

<style>
.card_ver {
    position: absolute;
    width: 505px;
    height: 269px;


    background: #EFF3FC;
    border-radius: 30px;
}

.card_sccd {
    border-color: rgb(255, 255, 255);

}

.btn-block {
    width: 100%;
}

.icono_admin {
    cursor: pointer;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.input-w-icon {
    position: relative;
}

.input-w-icon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 2.5px 11px;
    color: gray;
}

.texto_sunarp {
    font-family: 'Gotham-Bold';
    color: #008C95;

}

.table-striped>tbody>tr:nth-child(2n+1)>td {
    background-color: #f5f5f5;
}

.table-group-divider {
    border-top: 1px solid #c8c9ca;
}

.table>tbody {
    font-size: small;
    color: black;
    vertical-align: middle;
}

.outerDivFull {
    margin: 70px;
}

.switchToggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switchToggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    max-width: 90px;
    height: 30px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchToggle label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switchToggle input:checked+label,
.switchToggle input:checked+input+label {
    background: #610C1C;
}

.switchToggle input+label:before,
.switchToggle input+input+label:before {
    content: 'OFF';
    position: absolute;
    top: 5px;
    left: 35px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:before,
.switchToggle input:checked+input+label:before {
    content: 'ON';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:after,
.switchToggle input:checked+input+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switchToggle label:active:after {
    width: 60px;
}

.toggle-switchArea {
    margin: 10px 0 10px 0;
}
</style>