<template> 
  <div class="sidebar close">
    <div class="logo-details">
      <!--img src="../assets/unsa_logo.png" style="width: 50px; margin: 10px;"/-->
      <span class="logo_name">UNSA</span>
    </div>
    <br/>
    <i class='bi-list' ></i>
    <ul class="nav-links">
      <li v-for="option in selectedOptions">
        <a :href=option.url>
          <i :class=option.icon ></i>
          <span class="link_name">{{option.text}}</span>
        </a>
      </li>
      <li>
            
      <div class="profile-details">
        <div class="profile-content">
          <!--img src="../assets/default_lab_image.png" alt="profileImg"-->
        </div>
        <div class="name-job">
          <div class="profile_name">Usuario</div>
          <div class="job">{{rol}}</div>
        </div>
        <a href="/logout"><i class='bi-box-arrow-left' ></i></a>
      </div>
      </li>
    </ul>
  </div>
</template>
    
<script>
window.onload = function(){ 
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
    let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
    arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bi-list");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
};

export default {
  name: 'SideBar',
  data () {
    return {
      barAdminOptions: [
        {url: "/", icon: "bi-house", text: "Inicio"},
        {url: "indexUser", icon: "bi-person-circle", text: "Usuarios"},
        {url: "indexLab", icon: "bi-bank", text: "Laboratorios"},
        {url: "#", icon: "bi-bank", text: "Institutos"},
        {url: "#", icon: "bi-card-list", text: "Líneas de Investigación"},
        {url: "#", icon: "bi-newspaper", text: "Noticias"},
        {url: "#", icon: "bi-gear", text: "Configuraciones"}
      ],
      barCoordinadorOptions: [
        {url: "/", icon: "bi-house", text: "Inicio"},
        {url: "indexLab", icon: "bi-bank", text: "Mi laboratorio"},
        {url: "indexUser", icon: "bi-person-circle", text: "Operadores"},
        {url: "/mostrarEquipo", icon: "bi-pc", text: "Equipos"},
        {url: "#", icon: "bi-newspaper", text: "Noticias"},
        {url: "#", icon: "bi-gear", text: "Configuraciones"}
      ],
      barOperadorOptions: [
        {url: "/", icon: "bi-house", text: "Inicio"},
        {url: "indexLab", icon: "bi-bank", text: "Mi laboratorio"},
        {url: "/mostrarEquipo", icon: "bi-pc", text: "Equipos"},
        {url: "#", icon: "bi-card-list", text: "Líneas de Investigación"},
        {url: "#", icon: "bi-newspaper", text: "Noticias"},
        {url: "#", icon: "bi-gear", text: "Configuraciones"}
      ],
      selectedOptions: []
    }
  },
  mounted () {
    this.loadBarOptions()
  },
  methods: {
    loadBarOptions () {
      if (this.rol === "admin"){
        this.selectedOptions = this.barAdminOptions;
      }
      if (this.rol === "coordinador"){
        this.selectedOptions = this.barCoordinadorOptions;
      }
      if (this.rol === "operador"){
        this.selectedOptions = this.barOperadorOptions;
      }
    }
  },
  props: {
    rol: String,
  },
}
</script>
    
<style>
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #610C1C;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar .bi-list{
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  padding: 8px;
  margin: 20px;
  color: #000;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #7A3340;
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #ffffff;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
  color: #000;
}
.sidebar .profile-details .bi-box-arrow-left{
  color: #000;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
</style>