<template>
  <SideBar :rol="user.roleName"/>
  <div class="home-section">
    <!--ADDED-->
        <br>
        <div class="container">
            <img src="https://www.spri.eus/archivos/2022/09/jpg/biotalde.jpg" alt="">
           
            <p>{{ lab.nomcon }}</p><br>
               
       
        <div class=" mt-3" style=" text-align:center">
            <b><strong>{{ lab.nomdes }}</strong></b>
        </div>

        <div class="mb-3 mt-3 " style="text-align:center">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Descripción</strong> </label>
            <br/>
            {{ lab.des }}
        </div>
        <div class="mb-3 mt-3 align center" style="text-align:center ">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Objetivo </strong> </label>
            <br/>
            {{ lab.obj }}
        </div>

        <!--div class=" mt-3" style=" text-align:center">
            <strong>Personal de Laboratorio</strong> <br>

        </div>
        <div class="container"  style=" text-align:center; width:8em">
          <a>Coordinador</a>
          <img src="https://cdn-icons-png.flaticon.com/512/235/235846.png" alt="Interior del Coche" class="img-fluid">
        </div>
        <div style="text-align:center;"> Dra. Eveling Gloria Castro Gutiérrez </div>
        <div class="container align-center">
        <div class="row align-items-center">
          <div class="col ">
            <div class="container"  style=" text-align:center; width:8em">
          <a>Coordinador</a>
          <img src="https://cdn-icons-png.flaticon.com/512/235/235846.png" alt="Interior del Coche" class="img-fluid">
        </div>
        <div style="text-align:center;"> Dra. Eveling Gloria Castro Gutiérrez </div>
          </div>
          <div class="col ">
            <div class="container"  style=" text-align:center; width:8em">
          <a>Coordinador</a>
          <img src="https://cdn-icons-png.flaticon.com/512/235/235846.png" alt="Interior del Coche" class="img-fluid">
        </div>
        <div style="text-align:center;"> Dra. Eveling Gloria Castro Gutiérrez </div>
          </div>
        </div>
        <div class="col ">
            <div class="container"  style=" text-align:center; width:8em">
          <a>Coordinador</a>
          <img src="https://cdn-icons-png.flaticon.com/512/235/235846.png" alt="Interior del Coche" class="img-fluid">
          </div>
          <div style="text-align:center;"> Dra. Eveling Gloria Castro Gutiérrez </div>
        </div>

      


        <div class=" mt-5" style=" text-align:center">
            <b><strong>Líneas de Investigación</strong></b>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class=" mt-5" style=" text-align:center">
            <b><strong>Servicios y/o Actividades de Investigación</strong></b>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       
        </div-->
        <div class=" mt-5" style=" text-align:center">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Ubicación</strong> </label>

           
        </div>
        <div>
                <form>
        <div class="row">
          <div class="col">
            <b type="text" ><strong>Área: </strong> Ingeniería</b>
          </div>
          <div class="col  mt-2"> 
             <b type="text" ><strong>Facultad: </strong>{{ lab.fac }}</b>
          </div>
        </div>
      </form>
        </div>
        <div>
                <form>
        <div class="row">
          <div class="col">
            <b type="text" ><strong>Pabellón: </strong> {{ lab.facpab }}</b>
          </div>
          <div class="col mt-2"> 
             <b type="text" ><strong>Piso: </strong>{{ lab.facpis }}</b>
          </div>
        </div>
      </form>
      <div class="mt-5"> </div>
        </div>
        </div>
    <!--ADDED-->
  </div>
    </template>
    <script>
    import { computed } from 'vue'
    import { Link, usePage } from '@inertiajs/inertia-vue3'
    import SideBar from './SideBar.vue'
   
    export default{
        components: {
          Link,
          usePage,
          SideBar
        },
        props: {
            lab: Object,
        },
        setup() {
        const user = computed(() => usePage().props.value.auth.user)
        return { user }
      },
            
    
    }
    </script>
    
    <style>
    .home-section{
        position: relative;
        background: #ffffff;
        height: 100vh;
        left: 260px;
        width: calc(100% - 270px);
        transition: all 0.5s ease;
      }
      .sidebar.close ~ .home-section{
        left: 78px;
        width: calc(100% - 88px);
      }
      .home-section .home-content{
        height: 60px;
        display: flex;
        align-items: center;
      }
      .home-section .home-content .text{
        font-size: 26px;
        font-weight: 600;
      }
     img{
      width: 100%;
      position: relative;
    }
    p{
      position: absolute;
      font-size: 1em;
      top: 100px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
    </style>